<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyi.gaolichao.mapper.WTransactionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lingyi.gaolichao.bean.WTransactions">
        <result column="w_id" property="wId" />
        <result column="o_id" property="oId" />
        <result column="money" property="money" />
        <result column="type" property="type" />
        <result column="out_or_in" property="outOrIn" />
        <result column="delflag" property="delflag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        w_id, o_id, money, type, out_or_in, delflag
    </sql>

</mapper>
